# Database PostgreSQL (Neon DB)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# NextAuth Configuration
# Ganti dengan string acak rahasia untuk produksi (misal generated via openssl rand -base64 32)
NEXTAUTH_SECRET="f10f8fa5534cc51280f55cf5ad99eb3c1a3eb2d84719e71e"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
